{
  "ignition": {
    "config": {
      "append": [{
        "source": "{{ ignition_http_url }}", 
        "verification": {}
      }]
    },
    "timeouts": {},
    "version": "2.4.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}

