apiVersion: v1
baseDomain: {{ public_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network }}
  networkType: {{ network_type }}
  serviceNetwork:
  - 172.30.0.0/16
platform:
  openstack:
    cloud: openstack
    clusterOSImage: file://{{ rhcos_osp_file }}
{% if False %}
    apiVIP: {{ os_api_fip }}
    ingressVIP: {{ os_ingress_fip }}
{% endif %}
    computeFlavor: {{ osp_compute_flavor }}
    externalNetwork: "{{ osp_external_network }}"
{% if osp_external_dns is defined and (osp_external_dns|length>0) %}
    externalDNS: [ {{ osp_external_dns | map('regex_replace', '^(.*)$', '\"\\1\"' ) | join(', ') }} ]
{% endif %}
{%- if osp_lb_floating_ip is defined %}
    lbFloatingIP: {{ osp_lb_floating_ip }}
{% endif %}
    octaviaSupport: "1"
    region: "{{ osp_region }}"
    trunkSupport: "0"
publish: External
pullSecret: {{ image_pull_secret }}
sshKey: |
  {{ ssh_public_key }}
{% if install_config_proxy is defined %}
proxy:
  {{ install_config_proxy  | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
